.layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
}

.footer {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
}
